.project{
	padding-top:20px;
}

.proCap{
	list-style: none;
	height: 32px;
	padding: 0px;
}
.proCap li{
	float: left;
	color: #fff;
	width: 120px;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	border-radius: 4px;
	margin-right: 10px;
	cursor: pointer;
	background: #3070d2;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0
}