.newProjectBody{
	padding-top: 20px !important;
}
.itemGroup{
	
}
.newProjectBody label{
	width: 108px;
	margin-right: 16px;
	text-align: right;
	color: #666666;
}

.newProjectBody input{
	width: 228px;
	height: 34px;
	display: inline-block;
	border: 1px solid #d0d3dd;
	padding-left: 10px;
}

.newProjectBody select{
    width: 228px;
    height: 34px;
    display: inline-block;
    border: 1px solid #d0d3dd;
    padding-left: 10px;
}

.btnGroup{
	margin-top:50px;
	margin-bottom: 25px;
	text-align: center;
}

.btnGroup button{
	width: 105px;
	height: 41px;
	margin: 0 5px;
}