.ahu {

}

.west, .center, .east {
  width: 32%;
  float: left;
}

.center {
  margin: 0 2%;
}

.ahuSeries {
  overflow: auto;
}

.ahuSeries input {
  height: 14px !important;
  margin: 0 !important;
  vertical-align: middle;
}

.gray {
  background-color: gray;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.indicator {
  width: 200px;
  height: 12px;
  border: 1px solid gray;
}

.smodelMask {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 112px;
  left: 0px;
  cursor: pointer;
}
