.coolingCoil {

}

/*.coolingCoil > div {
  width: 24%;
  float: left;
}*/

.calResult table th {
  text-align: center;
}

.calResult table td {
  padding: 2px 10px !important;
}

.calResult table th, .calResult table td {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.calResult {
  width: 100%;
  overflow: auto;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  min-height: 40px;
}

.calResultTable {
  width: 100%;
  overflow: auto;
}

.collapse {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
}


.west, .center, .east {
  width: 32%;
  float: left;
}

.center {
  margin: 0 2%;
}
