.fan {

}
.west, .center, .east {
  width: 32%;
  float: left;
}

.center_east, {
  width: 64%;
  float: right;
}

.left, .right {
  width: 48%;
  float: left;
  margin: 0 1%;
}

.center {
  margin: 0 2%;
}

.ifull {
  width: 64%;
  float: left;
}