.groups {

}

.group {
	background-color: white;
	margin: 4px 4px 4px 0px;
	padding: 10px;
	border-radius: 4px;
}

.group > h4 {
	font-size: 14px;
	padding: 5px 0px;
	font-weight: bold;
	border-bottom: 1px solid #a7a7a7;
}
