.Ahu {

}

.Ahu > div {
	float: left;
}

.Ahu > .west {
	width: 20%;
}

.Ahu > .center {
	width: 60%;
}

.Ahu > .east {
	width: 20%;
}

.sections > .section {
	float: left;
}

.section {
	width: 60px;
	height: 60px;
	margin: 2px;
	background-color: gray;
	cursor: pointer;
}

.ahu {
	width: 800px;
	height: 100px;
	margin: 0 auto;
	padding: 20px 100px;
	border: 1px solid gray;
	text-align: center;
}

.ahu > .section {
	display: inline-block;
}
