.checkbox {
  display: inline-block;
  margin-top: 10px;
}

.checkbox > span, .checkbox > input {
  vertical-align: middle;
}

.checkbox > span {
  color: #333;
  margin: 0px 20px 0px 6px;
}

.checkbox > input {
  margin: 0 !important;
}
