.select {
  margin: 2px 0px;
}

.select > label {
  /*display: block;
  color: #333;
  font-size: 14px;
  cursor: default;
  vertical-align: middle;
  margin-bottom: 0px;*/
  
  
  width: 98px;
text-align: right;
float: left;
margin-right: 16px;
line-height: 34px;
margin-bottom: 0;
color: #707070;
font-size: 14px;
font-weight: bold;
}

.select > select {
  width: 288px;
  height: 30px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #d0d3dd;
}

.select > select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
