.Theme {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
}

.lightBox {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}
