.ahu {

}

.cad {

}

.cad img {
	width: 100%;
}

.main {
	position: relative;
	left: 0px;
	top: 60px;
	overflow: auto;
	padding: 6px;
	background-color: #f4f5f7;
}

.main > .west {
	width: 200px;
	float: left;
	background-color: white;
}

.main > .east {
	width: 400px;
	float: right;
}

.main > .center {
	margin: 0px 410px 0px 210px;
}

.goback {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #a7a7a7;
	font-size: 14px;
	margin: 10px 0px;
	color: #337ab7;
	vertical-align: middle;
}
