.app {

}

.log {
	width: 32px;
	height: 32px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	color: white;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	cursor: pointer;
}

.console {
	width: 300px;
	height: 120px;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	right: 0px;
	bottom: 50px;
	color: white;
	padding: 20px;
}

.info {
	color: white;
}

.warning {
	color: yellow;
}

.error {
	color: red;
}

.dn {
	display: none;
}
