
input {
	height: 25px;
}
.layout {
	width: 95%;
	margin-left: 30px;
	float: left;
	/*border: 1px solid #cccccc;*/

}

.layout > span {
	color: white;
	background-color: #3274cf;
	display: block;
	width: 100%;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	padding-left: 20px;
}

.layout2{
	width: 30%;
	margin-left: 20px;
	float: left;
	border: 1px solid #cccccc;
	background-color: #e3e5e6;
}

.layout3{
	width: 95%;
	margin-left: 10px;
	border: 1px solid #cccccc;
	background-color: #e3e5e6;
}

.season{
	clear: both;
	margin-top: 20px;
}

.title {
  display: block;
  height: 25px;
  line-height: 25px;
  background-color: #3274cf;
  padding-left: 10px;
  color: white;
}

.property {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.property label {
	margin-right: 10px;
}

.unit {
	margin-left: 10px;
}
.button {
	background-color: #3274cf;
	height: 30px;
	width: 100px; 
}

.btnDiv{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

.row {
	float: left;
	width: 45%;
	margin-bottom: 15px;
}

.row label {
	display: inline-block;
	width: 90px;
}
