
 nav ul ul {
    display: none;
}
 
nav ul li:hover > ul {
    display: block;
}

nav ul li ul > li {
  height: 30px;
  text-align: center;
}
.systemmenu {
	background-color: #003eb9;
}
.systemmenu li{
	display: block;
	width: 100px;
}


             

