.a {

}

.page2 th{
	text-align: center;
}


.tab_pane_ahuInit > div{
	margin:0px;
}

.tab_pane_ahuInit > div > div{
	width:100% !important;
	max-width:100% !important;
	min-width:100% !important;
}


.myhomModal .modal_header{
	color: #000000;
	background-color: #ffffff !important;
}
.myhomModal .tab_pane_ahuInit{
	border-radius: 0px;
}

.myhomModal .select_leng{
	border-radius: 0px;
}

.myhomModal .nav_tabs li a{
	padding:15px 20px;
}

.myhomModal .tab_pane_ahuInit h4 a img{
	width:30px;
	display: inline-block;
}

.myhomModal .icon_close{
	display: none;
}

.myhomModal .modal_title{
	color:#000000 !important;
}

.myhomModal .zktab_all{
	float: right;
}

.btnGroupDiv{
	margin: 20px 20px 400px 20px;
}
.drBtn{
	color: #fff;
	width: 120px;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	border-radius: 15px;
	margin-right: 10px;
	cursor: pointer;
	background: #3070d2;
}
.dcBtn{
	color: #fff;
	width: 120px;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	border-radius: 15px;
	margin-right: 10px;
	cursor: pointer;
	background: #3070d2;
}

.createDate{
	text-align: center;
	margin:20px 10px 0px 10px;
}
.createDate span{
	color: #a0a0a0;
	font-size: 12px;
	margin-right: 10px;
}

.group_cont li{
	margin-left:30px;
	margin-right:40px !important;
}


.myhomModal .modal_body_div_min{
	height:400px;
}

.modal_footer{
	border-top:1px solid #e5e5e5;
}
