.AHUPage {
  position: relative;
  height: calc(100vh - 100px);
}

.body {
  padding-top: 5px;
}
.SelectedTR {
  background-color: #C0C0C0;
}
.Faninittr{
	font-size: 12px;
}
.Faninittr td{
	padding: 2px 8px !important;
}
