.groupDiv a:hover{
	text-decoration: none;
}
.textBtn{
	font-weight: bold;
	color: #738092 !important;
	margin:0 25px;
	display: block;
	float: left;
	cursor:pointer;
}
.iconBtn{
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background: #f3f4f8;
	border: 1px solid #e8eaf1;
	float: left;
	display: block;
	text-align: center;
	line-height: 32px;
	margin-top: 5px;
	margin-right: 10px;
	color: #a0a9b5 !important;
	cursor:pointer;
}

.groupDiv table{
	margin-bottom: -1px;
}
.groupDiv table th:nth-child(1){
    width: 8.5%;
}
.groupDiv table th:nth-child(2){
    width: 20%;
	
}
.groupDiv table th:nth-child(3){
    width: 8.5%;
	
}
.groupDiv table th:nth-child(4){
    width: 8.5%;
	
}
.groupDiv table th:nth-child(5){
    width: 8.5%;
	
}
.groupDiv table th:nth-child(6){
    width: 8.5%;
	
}

.groupDiv table th:nth-child(7){
    width: 8.5%;
	
}
.groupDiv table th:nth-child(8){
    width: 8.5%;
	
}
.groupDiv table th:nth-child(9){
    width: 20%;
} 
/*.groupDiv table th:nth-child(10){
    width:6%;
}
.groupDiv table th:nth-child(11){
    width:32%;
} */

.groupDiv table tr:hover{
	background-color: #EFF1F5;
}
.groupDiv table tr:hover td:first-child:after{
    font-family: "iconfont" !important;
    font-style: normal;
    content: "\e6e3";
    float: left;
    position: absolute;
    left: 12px;
    color: #3274cf;
    font-size: 16px;
    transform: rotate(270deg);
    -ms-transform:rotate(270deg); 	/* IE 9 */
    -moz-transform:rotate(270deg); 	/* Firefox */
    -webkit-transform:rotate(270deg); /* Safari 和 Chrome */
    -o-transform:rotate(270deg);
}
.groupDiv table tr,.groupDiv table tr th{
	text-align: center;
}

.groupDiv table tr th{
	background-color: #e8eaf1;
	color: #536072;
	height: 30px;
	line-height: 30px;
}

.groupDiv table tr td{
	border-bottom:1px solid #e8eaf1;
	height: 25px;
	line-height: 25px;
}

a {
	cursor: pointer;
}
