.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

[draggable] {
  user-select: none;
}

* {
  outline: none;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

.imgResponsive {
  max-width: 100%;
  height: auto;
  display: block;
}

select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
}

[data-ok] {
  margin-bottom: 10px !important; 
}
