._table {
  width: 100%;
}

._table thead {
  color: black;
  font-weight: bold;
}

._tableWithoutBorderTop thead {
  border-top: 0px !important;
}

._table th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}


._table td {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

._table tbody tr:not(.special):hover {
  background-color: rgba(0, 0, 0, 0.1);
}
