.panelHead{
	height: 60px;
	line-height: 40px;
	background-color: #ffffff !important;
}
.rightMenu{
	list-style: none;
	height: 40px;
	line-height: 40px;
}
.rightMenu li{
	float: left;
}
.textRightMenu li:after{
	color: #cccccc;
	content: '|';
	margin: 0 10px;
}

.textRightMenu li a{
	font-size: 12px;
	font-weight: 600;
	color: #738092;
}
.textRightMenu li a.active{
	color: #3274cf;
}

.itemList1{
	margin-top:10px;
}
.itemList2{
	margin-top:15px;
}

.itemDiv{
	margin: 10px 0px;
}
.itemIcon{
	margin-right: 10px;
}

.itemTitle{
	color:#a0a0a0;
}
.itemList2 .itemTitle{
	width:128px;
	display: inline-block;
}

.itemText{
	color: #707070;
}
.colorDark{
	color: #333333;
}

.iconRightMenu li{
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background: #f3f4f8;
	border: 1px solid #e8eaf1;
	float: left;
	text-align: center;
	line-height: 32px;
	margin-top: 5px;
	margin-right: 10px;
}

.iconRightMenu li a{
	color:#a0a9b5;
}

.itemList2 .itemIcon{
	font-size: 15px;
    background: #f3f4f8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
}
.degOfComp{
	text-align: center;
}

.projectAhuBtn{
	width: 135px;
	margin: 10px auto;
	height: 40px;
	border-radius: 5px;
	background: #3274cf;
}
