.SectionList {
	overflow: hidden;
	height: 100%;
}
.SectionLi{
  padding-left: 16px;
  width: 100%;
  height: 80%;
  overflow-y: auto
}
.SectionSpan{
	display: inline-block;
	background-color: #002A80;
	height: 12px;
  width: 4px;
  margin-right: 6px;
  margin-top: 10px;
}

.SectionList [data-section] {
  padding: 5px;
  border-radius: 2px;
  margin: 2px;
  background-color: #f3f4f8;
  border: 1px solid #e8eaf1;
  width: 42px;
  height: 40px;
  background-size: cover;
}
