.dropzone {

}

.dropzone {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  background-size: cover;
  background-position: center;
}

.separator {
  position: absolute;
  left: -10px;
  top: -23px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #3274cf;
}

.separator:hover {
  color: #1BC98E;
}

.separator.active {
  color: #FE504E !important;
}

.dropzone > img {
  width: 50px;
  height: 50px;
}

.trash {

}

.dropzones {
  position: relative;
  width: 1230px;
  margin: 10px auto;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #25c2cb;
  background-color: rgba(37, 194, 203, 0.1);
}

.indicator {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 30px !important;
  color: #fe5050;
  transition-property: all;
  transition-duration: 1s;
}

.dragover {
  border: 1px solid red;
  border-style: dashed;
  background-image: url(../../images/add@2x.png);
}

.autoAlign {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.autoAlign button {
  background: #3274cf;
  box-shadow: 0px 5px 20px rgba(50, 116, 207, 0.3);
  margin-left: 20px;
  width: 105px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}
