.form {
  overflow: auto;
}

.form h4 {
	font-size: 16px;
	padding: 5px 0px;
	font-weight: bold;
	border-bottom: 1px solid #a7a7a7;
}

.form [data-group] {
  position: relative;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}


.form [data-collapse] {
  position: relative;
  top: -6px;
  right: 5px;
  float: right;
  cursor: pointer;
}
