.sections {
  padding: 0px 0px 0px 10px;
}

.sections > li {
  width: 50px;
  height: 50px;
  margin: 4px 10px 0px 0px;
  display: inline-block;
  padding: 6px;
  background-color: #f3f4f8;
  border: 1px solid #e8eaf1;
  border-radius: 2px;
}
