 .CStyle {
      border: '1px solid red';
      padding: 0;
      display: 'block';
      whiteSpace: 'nowrap';
      width: '100%';
      height: 50;
    };
.style {
      height: "100%";
      width: '25%';
      float: 'left';
    };