.templates {

}

.selectType {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;
	padding: 5px 0px;
	cursor: pointer;
	margin-top: 10px;
}

.templatesList{
	margin: 10px;
}

.templatesList input{
	vertical-align: middle;
	margin-right: 5px !important;
	margin-top: -2px !important;
}

.templatesList img{
	margin-top:10px;
	max-width: 100%;
	max-height: 100%;
}
