.AhuInit {
  margin:-21px -20px -20px -21px;
}

.AhuInit [data-group] {
  position: relative;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.AhuInit [data-group] > div {
  width: 49%;
  float: left;
}

.AhuInit [data-group] > div:nth-child(odd) {
  margin-left: 2%;
}

.panel_heading{
	background-color: #f1f2f6;
	border: none;
	border-bottom: #dddddd solid 1px;
	margin-top: 1px;
}
.panel_heading b{
	margin-left:5px;
}

.panel_heading i{
	margin-top:10px;
}

.modal_header{
	background-color: #4C74AC;
	color: #ffffff;
	border: none !important;
}

.modal_body_div{
	width: 100%;
	height:550px;
	overflow: auto;
}

.modal_body_pd0{
	padding:0px !important;
	margin-top:0px;
}
.panel_body_div{
	padding:20px !important;
}
/*.moda_cont_ol{
	padding:0 20px;
}*/
.moda_cont_ol .moda_cont_li{
	
}

.moda_cont_li .moda_cont_name{
	color: #333;
	font-size: 16px;
	display: block;
	font-weight: bold;
	margin:20px 0px;
}


.moda_cont_group{
	width:420px;
	float: left;
	margin: 5px 0px;
}

.moda_cont_group_radio{
	width: auto;
	float: none;
	clear:both;
	margin-left: 115px;
	color: #333333;
}

.moda_cont_group_radio label span{
	font-weight: 500;
}

.modal_footer{
	text-align: center !important;
	border-top: 1px solid #e5e5e5 !important;
}

.cancelBtn{
	width: 105px;
	height: 41px;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff !important;
	background-color: #25c2cb !important;
	border: none !important;
}
.saveBtn{
	width: 105px;
	height: 41px;
	border-radius: 5px;
	color: #fff;
	background-color: rgba(50,116,207,1) !important;
	border: none;
}
