.form_group {
	width:250px;
	margin-left: 30px;
	margin-top: 15px;
	float: left;
}

.form_group label {
	color: #707070;
}

.tbmor_span_hover{
	padding-top: 10px;
	height: 38px;
	display: inline-block;
	margin-top: -10px;
	margin-right:10px;
}
.tbmor_span_hover:hover .tbmor_span{
	display: block;
}

.tbmor_span{
	display: none;
	width:80px;
	position:absolute;
	bottom:40px;
	left:-25px;
}

.tbmor_span em{
	display: block;
	border-radius:4px;
	overflow: hidden;
	background-color:#687283;
}

.tbmor_span a{
	display: block;
	color: #ffffff;
}
.tbmor_span a:hover{
	background-color: #3274cf;
	color: #ffffff;
	text-decoration: none;
}

.tbmor_span a span{
	margin-right:3px;
}

.tbmor_span i{
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #687383;
	z-index: 8;
	display: block;
	bottom:-7px;
	left: 37px;
}
