.checkboxDiv{
	margin-top:5px;
}
.checkboxDiv input{
	vertical-align:middle;
	margin-top:-5px !important;
}
.setDirection{
	font-size: 16px;
	font-weight: 600;
	color: #b3b3b3;
}
.selAll{
	margin:0 15px 0 5px;
	font-size: 16px;
	font-weight: 600;
}
.inputDiv select{
	width:130px;
}

.groupListDiv{
	
}
.groupListDiv .groupDiv{
	padding:0px 15px;
	border-top:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
	border-radius: 0px;
	margin: -1px 0 0 0;
	padding-bottom: 10px;
}
